# See the OWNERS docs: <https://git.k8s.io/community/contributors/guide/owners.md>

@devfile-services-team

/libs/docs/src/docs/**/*.md @documentation-team
/libs/docs/src/docs/**/*.mdoc @documentation-team
