# Copyright Red Hat
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: CI
on:
  push:
    branches:
      - main
  pull_request:

permissions: read-all

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

jobs:
  test-and-lint:
    name: Test and Lint
    runs-on: ubuntu-latest

    env:
      NX_SKIP_NX_CACHE: true

    steps:
      - name: Checkout
        uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
        with:
          fetch-depth: 0

      - uses: actions/setup-node@8f152de45cc393bb48ce5d89d36b731f54556e65 #v4.0.0
        with:
          node-version-file: 'package.json'

      - name: Set SHA
        uses: nrwl/nx-set-shas@76907e7e5d3cd17ddb5e2b123389f054bffcdd03 #v4.0.0

      - name: Install
        run: |
          yarn install --immutable

      - name: Lint
        run: |
          yarn nx format:check
          yarn nx affected --target=lint --parallel=3

      - name: Test
        run: |
          yarn nx affected --target=test --parallel=3 --ci --code-coverage
  
  node-build:
    name: Node Build
    runs-on: ubuntu-latest

    env:
      NX_SKIP_NX_CACHE: true
      
    steps:
      - name: Checkout
        uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
        with:
          fetch-depth: 0

      - uses: actions/setup-node@8f152de45cc393bb48ce5d89d36b731f54556e65 #v4.0.0
        with:
          node-version-file: 'package.json'

      - name: Set SHA
        uses: nrwl/nx-set-shas@76907e7e5d3cd17ddb5e2b123389f054bffcdd03 #v4.0.0

      - name: Install
        run: |
          yarn install --immutable

      - name: Build
        run: |
          yarn nx affected --target=build --parallel=3

  docker-build:
    name: Docker Build
    runs-on: ubuntu-latest

    env:
      NX_SKIP_NX_CACHE: true
      
    steps:
      - name: Checkout
        uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
        with:
          fetch-depth: 0
      
      - name: Free Disk Space
        uses: jlumbroso/free-disk-space@54081f138730dfa15788a46383842cd2f914a1be #v1.3.1
        with:
          tool-cache: false
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true
        
      - name: Set up QEMU # Enables arm64 image building
        uses: docker/setup-qemu-action@68827325e0b33c7199eb31dd4e31fbe9023e06e3 #v3.0.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@d70bba72b1f3fd22344832f00baa16ece964efeb #v3.3.0

      - uses: actions/setup-node@8f152de45cc393bb48ce5d89d36b731f54556e65 #v4.0.0
        with:
          node-version-file: 'package.json'

      - name: Set SHA
        uses: nrwl/nx-set-shas@76907e7e5d3cd17ddb5e2b123389f054bffcdd03 #v4.0.0

      - name: Install
        run: |
          yarn install --immutable

      - name: Docker Build for linux/amd64
        run: |
          yarn nx affected --target=docker-build-amd64 --parallel=3
      
      - name: Docker Build for linux/arm64
        run: |
          yarn nx affected --target=docker-build-arm64 --parallel=3


  e2e:
    name: E2E
    runs-on: ubuntu-latest

    env:
      NX_SKIP_NX_CACHE: true
    
    steps:
      - name: Checkout
        uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
        with:
          fetch-depth: 0

      - uses: actions/setup-node@8f152de45cc393bb48ce5d89d36b731f54556e65 #v4.0.0
        with:
          node-version-file: 'package.json'

      - name: Set SHA
        uses: nrwl/nx-set-shas@76907e7e5d3cd17ddb5e2b123389f054bffcdd03 #v4.0.0

      - name: Install
        run: |
          yarn install --immutable

      - name: E2E
        run: |
          # parallelization cannot be easily used here because of port conflicts
          yarn nx affected --target=e2e --configuration=production --parallel=1
