name: Deploy Landing Page
on:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

jobs:
  main:
    name: Main Job
    runs-on: ubuntu-latest

    env:
      NEXT_PUBLIC_ANALYTICS_WRITE_KEY: xhG5jr3JpuaKCcA82vF4thKumqLh3XtZ
      NEXT_PUBLIC_DOCSEARCH_APP_ID: FCRPEMIKYK
      NEXT_PUBLIC_DOCSEARCH_API_KEY: 3f20b782c93da03c6626d6cacae0ceb5
      NEXT_PUBLIC_DOCSEARCH_INDEX_NAME: devfile
      NX_SKIP_NX_CACHE: true

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set SHA
        uses: nrwl/nx-set-shas@v2

      - name: Install
        run: yarn install --frozen-lockfile

      - name: Build
        run: |
          yarn nx affected --target=postexport --project=landing-page
          [ -d ./dist/apps/landing-page/exported ] && echo "is_new_build=true" >> $GITHUB_ENV

      - name: Deploy to Branch
        uses: JamesIves/github-pages-deploy-action@v4
        if: env.is_new_build == 'true'
        with:
          token: ${{ secrets.DEPLOY_TOKEN }}
          branch: master
          folder: dist/apps/landing-page/exported
          repository-name: devfile/devfile.github.io
